.git
.gitattributes
.gitignore

.env
.env.*
!.env.example
auth.json
credentials.txt

.editorconfig
.fleet
.idea
.nova
.phpunit.cache
.phpunit.result.cache
.vscode
.zed
Thumbs.db
.DS_Store

Dockerfile
docker-compose*.yml

node_modules
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
pnpm-lock.yaml
public/build
public/hot
public/storage

**/caddy
frankenphp
frankenphp-worker.php

vendor

storage/*.key
storage/app/private/**
storage/app/public/**
storage/framework/cache/data/**
storage/framework/sessions/**
storage/framework/testing/**
storage/framework/views/**
storage/logs/**
storage/pail
storage/tls/**
!storage/**/.gitignore

tests
README.md
