SECRET_KEY_FILE="secret/key.txt"
ALLOWED_HOSTS=""
MANAGER_ADDRESS="manager"

# Database
DB_HOST="localhost"
DB_PORT="3306"
DB_USER="root"
DB_PASS=""
DB_NAME="defly_manager"

# Internationalization
LANGUAGE_CODE="vi-vn"
TIME_ZONE="Asia/Ho_Chi_Minh"
USE_I18N=true
USE_TZ=false
