SECRET_KEY_FILE="secret/key.txt"
ALLOWED_HOSTS="127.0.0.1,localhost,192.168.1.7,manager,orchestrator"

# Database
DB_HOST="localhost"
DB_PORT="3306"
DB_USER="root"
DB_PASS=""
DB_NAME="defly_manager"

# Internationalization
LANGUAGE_CODE="vi-vn"
TIME_ZONE="Asia/Ho_Chi_Minh"
USE_I18N=true
USE_TZ=false

# Server customizations
SERVER_MANAGER="manager"
SERVER_USERNAME="defly-orchestrator"
SERVER_PASSWORD="P@55w0rd"

SERVER_PATH_PREFIX="api/v1"
SERVER_PATH_DEPLOYMENT="deployments"
SERVER_METHOD_DEPLOY="post"
SERVER_METHOD_FOLLOW="get"
SERVER_METHOD_CANCEL="delete"
SERVER_SOURCE_DEFENDER="./defender"
