.git
.gitignore

.env
.env.*
!.env.example

.editorconfig
.idea
.vscode
.ruff_cache
Thumbs.db
.DS_Store

Dockerfile
docker-compose*.yml

*.exe
*.test
*.out
*.coverprofile
coverage.*
profile.cov

storage
tmp
dist
build
vendor
