# Enable/Disable banner of Defly Defender when started
# Default: true     
export ABOUT_BANNER_ENABLE=

########################################################################################################################

# Path to TLS certificate file
# Default: resources/tls/tls.crt
export SERVER_HTTPS_CERT=

# Enable/Disable HTTPS for Defly Defender Server
# Default: true
export SERVER_HTTPS_ENABLE=

# Path to TLS key file
# Default: resources/tls/tls.key
export SERVER_HTTPS_KEY=

# Enable/Disable write logs of Defly Defender Server to file
# Default: true
export SERVER_LOGGER_FILE_ENABLE=

# A path where logs of Defly Defender Server stored
# Default: resources/logs/server.log
export SERVER_LOGGER_FILE_PATH=

# Logging format for Defly Defender Server.
# References: https://docs.gofiber.io/middleware/logger
# Default: '[${time}] {${from}}: ${status} ${ip} ${method} ${path} ${bytesSent} ${bytesReceived} ${error}'
export SERVER_LOGGER_FORMAT=

# Timezone of Defly Defender Server displayed in logging
# Default: Asia/Ho_Chi_Minh
export SERVER_LOGGER_TIMEZONE=

# Port number for Defly Defender Server
# Default: 9947
export SERVER_PORT=

########################################################################################################################

# Backend URL
# Default: http://localhost
export PROXY_BACKEND_URL=

# Enable/Disable write logs of Defly Defender Proxy to file
# Default: true
export PROXY_LOGGER_FILE_ENABLE=

# A path where logs of Defly Defender Proxy stored
# Default: resources/logs/server.log
export PROXY_LOGGER_FILE_PATH=

# Logging format for Defly Defender Proxy.
# References: https://docs.gofiber.io/middleware/logger
# Default: '[${time}] {${from}}: ${status} ${ip} ${method} ${path} ${bytesSent} ${bytesReceived} ${error}'
export PROXY_LOGGER_FORMAT=

# Timezone of Defly Defender Proxy displayed in logging
# Default: Asia/Ho_Chi_Minh
export PROXY_LOGGER_TIMEZONE=

# Port number for Defly Defender Proxy
# Default: 9948
export PROXY_PORT=

# Assign a score to the severity level of the Alert
# Default: 6
export PROXY_SEVERITY_ALERT=

# Assign a score to the severity level of the Critical
# Default: 5
export PROXY_SEVERITY_CRITICAL=

# Assign a score to the severity level of the Emergency
# Default: 7
export PROXY_SEVERITY_EMERGENCY=

# Assign a score to the severity level of the Error
# Default: 4
export PROXY_SEVERITY_ERROR=

# Assign a score to the severity level of the Info
# Default: 1
export PROXY_SEVERITY_INFO=

# Assign a score to the severity level of the Notice
# Default: 2
export PROXY_SEVERITY_NOTICE=

# Assign a score to the severity level of the Warning
# Default: 3
export PROXY_SEVERITY_WARNING=

# Assign a level of investigation when a violation occurs
# Default: 1
export PROXY_VIOLATION_LEVEL=

# Assign a number of score to take action when a violation occurs
# Default: 5
export PROXY_VIOLATION_SCORE=
